<%= render partial: "template_data/header" %>
<%= render "template_fields/template_fields" %>
<div style="margin-left: auto; margin-right: auto; width: 540px; font-size: 12px;" class="json-schema-container">
  <%= image_tag("glyphicons-511-duplicate.png", class: "copy-to-clipboard") %>
  <pre id="json-schema"><%= @json_schema %></pre>
</div>

<script>
  $(document).ready(function(){
    function copyToClipboard(containerid) {
      if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
      } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
        alert("text copied");
      }
    }

    $(".copy-to-clipboard").click(function () {
      copyToClipboard("json-schema");
    });
  });
</script>

<style>
  .json-schema-container{
    background-color: #F2F2F2;
  }

  .copy-to-clipboard{
    float: right;
    width: 15px;
    display: block;
  }
</style>