<div class="row">
    <div class="four wide column" style="margin-left: 0px; padding-left: 0px;">
        <br/><br/><br/>
        <div class="ui vertical menu">
          <a class="item">
            <p>Create content easily</p>
          </a>
          <a class="item">
            <p>Publish with special iFrames</p>
          </a>
          <a class="item">
            <p>Team Accounts</p>
          </a>
          <a class="item">
            <p>Safe, Secure, Scalable</p>
          </a>
          <a class="item">
            <p>Build your own tools</p>
          </a>
        </div>
    </div>
    <div class="twelve wide column">
       <h1 class="ui header">Features</h1>
       <h3 class="ui header">Create content easily</h3>
       <p>Choose any of the existing tools and easily create content with WYSIWYG forms.</p>
       <h3 class="ui header">Publish with our special iFrames</h3>
       <p>We have upgraded traditional iFrames. <span class="text-highlight">ProtoGraph iFrames are SEO-friendly, fast loading and fully-reponsive</span> i.e. content adapts to mobile and desktops. We also support publishing via traditional iFrames for Google AMP pages.</p>
       <h3 class="ui header">Team Accounts</h3>
       <p>Create organisation accounts, invite your team and control permissions through roles - Owner, Editor, Developer and Writers.</p>
       <h3 class="ui header">Safe, Secure, Scalable</h3>
       <p>ProtoGraph is deeply integrated with Amazon Web Services's serverless infrastructure - Aurora DB, DynamoDB, S3, Cloudfront CDN, Lambda and API Gateway. All passwords are encrypted in our database. All APIs are access controlled via tokens. All communication to and fro our servers is encrypted with HTTPS.</p>
       <h3 class="ui header">Build your own story-telling tools</h3>
       <p>Does your team have developers? Do you want to create your own story-telling formats?</p>
       <p>ProtoGraph is a Backend-as-a-Service for building front-end only tools in ReactJS. Once your ReactJS tool meets our definition of done, it can easily plug into our database, App Store, code version management and publishing infrastructure.</p>
    </div>
</div>
