<div class="row">
    <div class="four wide column" style="margin-left: 0px; padding-left: 0px;">
        <br/><br/><br/>
        <div class="ui vertical menu">
          <a class="item">
            <h4 class="ui header">Promotions</h4>
            <p>Check out our new promotions</p>
          </a>
          <a class="item">
            <h4 class="ui header">Coupons</h4>
            <p>Check out our collection of coupons</p>
          </a>
          <a class="item">
            <h4 class="ui header">Rebates</h4>
            <p>Visit our rebate forum for information on claiming rebates</p>
          </a>
        </div>
    </div>
    <div class="twelve wide column">
       <h1 class="ui header">Features</h1>
    </div>
</div>
