<div class="proto-grid-container data-page">
    <div class="proto-col col-16 navbar">
        <a href="./index.html">
            <div class="branding">#<strong>GenderAnd</strong></div>
        </a>
        <div class="nav-links">
            <div class="single-link stories"><a href="./index.html">Stories</a></div>
            <div class="single-link data"><a href="./explore.html">Explore</a></div>
            <div class="single-link active-page about"><a href="#">About</a></div>
        </div>
        <div class="social right-float-div">
            <div class="single-link facebook">
                <a href="https://www.facebook.com/indianexpress/" target="_blank"><img src="/img/fb-white.png"></a>
            </div>
            <div class="single-link twitter">
                <a href="https://twitter.com/IndianExpress/" target="_blank"><img src="/img/tw-white.png"></a>
            </div>
            <!-- <div class="single-link instagram">
                    <a href="#"><img src="/img/in-white.png"></a>
                </div> -->
        </div>
    </div>
    <div class="mobile-navigation">
        <div class="mobile-navbar">
            <a href="./index.html">
                <div class="branding">#<strong>GenderAnd</strong></div>
            </a>
            <div class="right-float-div">
                <div class="hamburger-icon"><img src="/img/hamburger-icon.png"></div>
            </div>
        </div>
        <div class="mobile-navigations-screen">
            <div class="right-float-div">
                <div class="close-icon"><i class="remove icon"></i></div>
            </div>
            <div class="nav-links">
                <div class="single-link stories"><a href="./index.html">Stories</a></div>
                <div class="single-link data"><a href="./explore.html">Explore</a></div>
                <div class="single-link about active-page"><a href="#">About</a></div>
            </div>
            <div class="social bottom-pull-div">
                <div class="single-link facebook">
                    <a href="https://www.facebook.com/indianexpress/" target="_blank"><img src="/img/fb-black.png"></a>
                </div>
                <div class="single-link twitter">
                    <a href="https://twitter.com/IndianExpress/" target="_blank"><img src="/img/tw-black.png"></a>
                </div>
                <!-- <div class="single-link instagram">
                <a href="#" ><img src="/img/in-black.png"></a>
            </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="jagran-nav"><img src="/img/jagran-nav.png" width="1260px"></div> -->
    <div class="proto-col col-16">
        <div class="fixed-cover-block fixed-cover-block-small">
            <div class="page-title bottom-pull-div">
                About
            </div>
        </div>
    </div>
    <div class="proto-col col-4 navigation-links">
        <div class="summary">
            <div class="article-share-icons">
                <a href='#' id='facebook-share-link' target="_blank">
                    <div class="single-share-icon"><img src="/img/article-share-facebook.png"></div>
                </a>
                <a href='#' id='twitter-share-link' target="_blank">
                    <div class="single-share-icon"><img src="/img/article-share-twitter.png"></div>
                </a>
            </div>
            <!-- <div class="summary-text">Article summary</div> -->
        </div>
        <div class="page-index" id="sticker">
            <div class="index-title-tabs">
                <div class="single-tab-value active-value">OVERVIEW</div>
                <!-- <div class="single-tab-value">DISCUSSION</div> -->
            </div>
            <nav class="scroll_navigation" id="myNavbar">
                <ul class="nav index-list">
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value active">December 2017 Announcement</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section2" class="nav-link single-index-value">June 2017 Announcement</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="proto-col col-7">
        <div class="article-area-small" id="article">
            <div class="fade-area"></div>
            <div class="article-h2 section" id="section1">December 2017 Announcement </div>
            <div class="article-para">
                <p>
                    It is still the case that when we think or read about gender, we think about women. And violence. In part, this is as it should be. It was women who made gender visible. Violence against them has been stark, discrimination universal. It continues to live on, even as it is denied.
                </p>
                <p>
                    The challenge is not just that, women and gender minorities across the world bear brutal violence. It is that they have a vision, voice, and an agency to comment, reflect on some of the greatest crisis of our times: be it food security, national security, environmental justice, diplomatic relations.
                </p>
                <p>
                    Women have been at the forefront in movements for Dalit rights, minority rights, protection of forests, the right to food. Theirs is a unique, diverse struggle against inequality.
                </p>
                <p>
                    The reality of the urban working-class woman who is also a domestic, casual contract labourer battling multiple struggles: security of employment, space to live in a slum, sexual violence, wages, aspirations. She is often a rural woman, who has come to the city searching for work, to feed her family. In the village she worked outside her home. It was natural and necessary. The work was never recognised. The land she tilled tirelessly was never hers. The urban based woman goes through her own formidable challenges of negotiating hostile spaces.
                </p>
                <p>
                    Gender is the new conversation in these times. There is recognition, slow and grudging as it maybe, that gender must inform policy and planning.
                </p>
                <p>
                    Women now occupy almost every conceivable role in public life. They run businesses, lead countries, build roads, participate in movements, create art and climb trees. And, they are no monolith. They can, and do assimilate patriarchal values.
                </p>
                <p>
                    Any commentary on gender is incomplete without the full arc.
                </p>
                <p>
                    At #GenderAnd we want to mainstream gender. This isn’t about adding a “customary woman” to the reportage, thereby balancing some notional equation. Or the belief that this is typically, “about women”. Another pitfall, we will guard against, that this is an additional “angle”, bestowed on a woman, in this case a woman journalist who has an interest in “gender”.
                </p>
                <p>
                    Over the next four weeks, and in 2018 indianexpress.com will explore gender and the many axes on which it intersects. We will examine the invisibility of women’s work across sectors. We’ll explore the multitude of ongoing struggles against caste, class, religion, even as when focus on gender inequalities. Whether the goal is to “break glass ceilings” or smash records or access to power and justice, we are interested in how women and gender minorities are achieving it. There will be reportage, commentary, multimedia reports, data projects, reflecting on stories from history and reporting on lives of women and gender minorities today. Our reporters, writers and photographers will critically and holistically report on Gender.
                </p>
            </div>
            <div class="article-h2 section" id="section2">June 2017 Announcement</div>
            <div class="article-para">
                <p>
                    In 1950, when women got the right to vote in India, they did not get that right to vote only on ‘women issues’. They got the vote for a say in everything that concerns the country.
                </p>
                <p>
                    Since the nationwide agitation over the 2012 Delhi gangrape, the media has offered a better platform to talk, question and debate issues around gender in India. Yet, most of the coverage around gender is restricted to sexual violence and crime. While these issues are important, they are also limiting in some way when we talk about women and other sexual or gender minorities in India.
                </p>
                <p>
                    Stories around gender need not be tucked away in one ‘women’s section’, in a book, on a website, in a magazine or in a policy file. A right to food policy or a land acquisition bill is as relevant to women and gender minorities as it is for men. The need of the hour is to mainstream gender in politics, business, national affairs and everything under the sun.
                </p>
                <p>
                    All of June, indianexpress.com will put out special stories with a gender lens, each looking at these intersections critically to assess how gender sensitive/inclusive anything in India is. Help us find more such stories using #GenderAnd in your conversations. You can read our reportage, <a href="http://indianexpress.com/about/genderand/" target="_blank"> here </a>.
                </p>
            </div>
            <!-- <div class="br-space"></div> -->
        </div>
        <div class="default-button read-more-button" id="cont-button">
            Continue Reading
        </div>
    </div>
    <div class="proto-col col-4 col-1-offset">
        <div class="related-articles-link">
            <div class="column-title">Related</div>
            <div id="related_container"></div>
        </div>
    </div>
    <div class="proto-col col-16 more-articles-link-div">
        <div class="more-articles-link">
            <div class="column-title">More in this series</div>
            <div id="more_articles_container" class="more-articles-container"></div>
        </div>
    </div>
</div>
<div class="protograph-app-filter-icon" id="protograph_filter_icon">&#9776;</div>
<div class="protograph-app-filter-icon protograph-app-filter-close-button" id="protograph_filter_close_icon"><i class="remove icon"></i></div>