<div class="row" style="margin-top: 0px;">
  <div class="col-sm-13">
    <p style="margin-top: 70px; position: relative; height: .85em; font-size: 30px; font-weight: 400; line-height: 0.85; text-transform: uppercase;">
      TOPIC PAGES
    </p>
    <p style="margin-top: 0px; position: relative; height: .85em; font-size: 60px; font-weight: 900; line-height: 0.85; margin-bottom: 40px;">
      toCoverage
    </p>
    <h1 style="color: rgba(52,54,58,0.75); font-weight: 300; font-size: 24px; line-height: 1.3; font-family: Georgia; margin-bottom: 40px;">toCoverage brings together disparate elements of a story - be it tweets, cards or articles, onto one, easy-to-navigate interactive page.
    </h1>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-sm-7">
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Where can you use it?
    </h2>
    <br/>
    <p style="font-size: 14px;">toCoverage will help you aggregate various elements around one large area of interest, for instance, a cricket world cup, budget coverage or elections, into one single-page repository, thereby providing a sticky and immersive experience for readers.</p>
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Demo
    </h2>
    <br/>
    <%= image_tag "tocoverage.png", class: "img-fluid" %>
    <br/>
    <br/>
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Examples
    </h2>
    <br/>
    <div id="ProtoCard1973"><blockquote>
<h4>#Mobbed</h4>
<p>#mobbed is a public database of incidents of mob violence reported by The Indian Express from 2010 onwards. We hope this database will lead us to discover indicative insights that add to our collective understanding of the culture of mob violence in India.</p>
</blockquote></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var ProtoCard1973 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard1973)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard1973"), "https://cdn.protograph.pykih.com/171fda4fca046ddf4490/index.html?view_cast_id=6348c9362446f0e8cde24f4e%26schema_id=2e86f6d67d84af232c65" , 'thumbnail')}, 200)</script>
  </div>
  <div class="col-sm-2">
    <br/>
    <br/>
  </div>
  <div class="col-sm-4">
    <br/>
  </div>
  <div class="col-sm-3">
    <p>Used by newsrooms like</p>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag "customers/indian-express.png", class: "rounded img-fluid" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "customers/newslaundry.png", class: "rounded img-fluid" %>
      </div>
    </div>
  </div>

</div>