<div class="row" style="margin-top: 0px;">
  <div class="col-sm-13">
    <p style="margin-top: 70px; position: relative; height: .85em; font-size: 30px; font-weight: 400; line-height: 0.85; text-transform: uppercase;">
      Story Elements
    </p>
    <p style="margin-top: 0px; position: relative; height: .85em; font-size: 60px; font-weight: 900; line-height: 0.85; margin-bottom: 40px;">
      toExplain
    </p>
    <h1 style="color: rgba(52,54,58,0.75); font-weight: 300; font-size: 24px; line-height: 1.3; font-family: Georgia; margin-bottom: 40px;">toExplain ensures that you don’t lose your reader’s interest in stories which are layered or complicated, by giving the right amount of context to this story.
    </h1>
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-sm-7">
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Where can you use it?
    </h2>
    <br/>
    <p style="font-size: 14px;">With news breaking at the speed of light and stories continue to unfold every hour  (think Brexit, Charlottesville), context becomes key to understanding evolving narratives. toExplain ensures that context isn’t lost for readers when they land on a page involving a complex, evolving story. toExplain helps you build this context for your reader and ensure a greater share of his time.</p>
    <h2 style="display: block; font-size: 18px; font-weight: 800;">
      Demo
    </h2>
    <br/>
    <div id="ProtoCard302"><blockquote>
<h3>What is Price to Earnings (PE) multiple?</h3>
<p>Current market price divided by earnings per share gives you the price to earning multiple, also known as PE multiple. If stock price Rs 150 and EPS Rs 20, then the PE multiple will be Rs 150 divided by Rs 20= 7.5. PE multiple indicates how cheap or expensive a stock is. It also reflects what the market is willing to pay for a stock based on expected earnings. If the multiple is high, then it means that the investors are expecting a high growth in the earnings. Conversely, a low PE means low expectations on earnings. Remember, the company may exceed analyst expectations or fall short.</p>
</blockquote></div><script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js" async></script><script type="text/javascript">var ProtoCard302 = setInterval(function(){if (window.ProtoEmbed){clearInterval(ProtoCard302)};new ProtoEmbed.initFrame(document.getElementById("ProtoCard302"), "https://cdn.protograph.pykih.com/f96a388525160ed7/index.html?view_cast_id=59a96875ddb397caca319bc4%26schema_id=2e804dc00b362f24" , "laptop")}, 200)</script>
    <br/>
    <br/>
  </div>
  <div class="col-sm-2">
    <br/>
    <br/>
  </div>
  <div class="col-sm-4">
    <br/>
  </div>
  <div class="col-sm-3">
    <p>Used by newsrooms like</p>
    <div class="row">
        <div class="col-sm-6">
          <%= image_tag "customers/money-control.jpg", class: "rounded img-fluid" %>
        </div>
    </div>
  </div>

</div>