<div class="row-fluid">

    <div class="container">
        <div class="row">
            <div class="col-sm-11">





                <h1 style="border: 0px !important; font-size: 32px; font-weight: bold; color: black; padding-left: 0px; padding-right: 0px; margin-top: 0px !important;">toExplain</h1>

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <p>toExplain ensures that you don’t lose your reader’s interest in stories which are layered or complicated, by giving the right amount of context to this story.</p>
                <p>With news breaking at the speed of light and stories continue to unfold every hour  (think Brexit, Charlottesville), context becomes key to understanding evolving narratives. toExplain ensures that context isn’t lost for readers when they land on a page involving a complex, evolving story. toExplain helps you build this context for your reader and ensure a greater share of his time.</p>
            </div>
            <div class="col-sm-4">
                be
            </div>

            <div class="col-sm-3">
                op
            </div>

        </div>


    </div>

</div>
