<%= stylesheet_link_tag 'totimeline', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="proto-grid-container data-page">
    <div class="proto-col col-16 navbar">
        <a href="./index.html"><div class="branding">#<strong>Protograph</strong></div></a>
        <div class="nav-links">
            <!-- <div class="single-link stories"><a href="./index.html">Stories</a></div> -->
            <!-- <div class="single-link data"><a href="./explore.html">Explore</a></div> -->
            <!-- <div class="single-link active-page about"><a href="#">About</a></div> -->
        </div>
        <div class="social right-float-div">
            <div class="single-link facebook">
                <!-- <a href="https://www.facebook.com/indianexpress/" target="_blank"><img src="img/fb-white.png"></a> -->
            </div>
            <div class="single-link twitter">
                <!-- <a href="https://twitter.com/IndianExpress/" target="_blank"><img src="img/tw-white.png"></a> -->
            </div>
            <!-- <div class="single-link instagram">
                <a href="#"><img src="img/in-white.png"></a>
            </div> -->
        </div>
    </div>

    <div class="mobile-navigation">
        <div class="mobile-navbar">
            <a href="./index.html"><div class="branding">#<strong>Protograph</strong></div></a>
            <div class="right-float-div">
                <div class="hamburger-icon"><img src="img/hamburger-icon.png"></div>
            </div>
        </div>

        <div class="mobile-navigations-screen">
            <div class="right-float-div">
                <div class="close-icon"><i class="remove icon"></i></div>
            </div>
            <div class="nav-links">
                <!-- <div class="single-link stories"><a href="./index.html">Stories</a></div> -->
                <!-- <div class="single-link data"><a href="./explore.html">Explore</a></div> -->
                <!-- <div class="single-link about active-page"><a href="#">About</a></div> -->
            </div>
            <div class="social bottom-pull-div">
                <div class="single-link facebook">
                    <!-- <a href="https://www.facebook.com/indianexpress/" target="_blank"><img src="img/fb-black.png"></a> -->
                </div>
                <div class="single-link twitter">
                    <!-- <a href="https://twitter.com/IndianExpress/" target="_blank"><img src="img/tw-black.png"></a> -->
                </div>
                <!-- <div class="single-link instagram">
            <a href="#" ><img src="img/in-black.png"></a>
        </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="jagran-nav"><img src="img/jagran-nav.png" width="1260px"></div> -->
    <div class="proto-col col-16">
        <div class="fixed-cover-block fixed-cover-block-small">
            <div class="page-title bottom-pull-div">
                toQuiz
            </div>
        </div>
    </div>
    <div class="proto-col col-4 navigation-links">
        <!-- <div class="summary">
            <div class="article-share-icons">
                <a href='#' id='facebook-share-link' target="_blank"><div class="single-share-icon"><img src="img/article-share-facebook.png"></div></a>
                <a href='#'  id='twitter-share-link' target="_blank"><div class="single-share-icon"><img src="img/article-share-twitter.png"></div></a>
            </div>
            <div class="summary-text">Article summary</div>
        </div> -->
        <div class="page-index" id="sticker">
            <div class="index-title-tabs">
                <div class="single-tab-value active-value">FEATURES</div>
                <!-- <div class="single-tab-value">DISCUSSION</div> -->
            </div>
            <nav class="scroll_navigation" id="myNavbar">
                <ul class="nav index-list">
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">No need to know code</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">Free to use</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">Mobile-first</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">Responsive</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">SEO friendly</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">Low bandwidth</a>
                    </li>
                    <li class="nav-item">
                        <a href="#section1" class="nav-link single-index-value">Multi-lingual</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="proto-col col-7">
        <div class="article-area-small" id="article">
            <div class="fade-area"></div>
            <div class="article-para">
                <p style="margin-top: 0px;">Add an element of fun and gamification to your stories</p>
            </div>
            <div class="article-h2 section" id="section1">Where can you use it?</div>
            <div class="article-para">
                <p>
                    Use toQuiz for weekly wraps, in-story questions, etc.
                </p>
            </div>
            <br>
            <div class="article-h2 section" id="section2">Demo</div>
            <div class="article-para">
                <p>
                   In 1950, when women got the right to vote in India, they did not get that right to vote only on ‘women issues’. They got the vote for a say in everything that concerns the country.
                </p>
            </div>
            <!-- <div class="br-space"></div> -->
        </div>
        <div class="default-button read-more-button" id="cont-button">
            Continue Reading
        </div>
    </div>
    <div class="proto-col col-4 col-1-offset">
        <div class="related-articles-link">
            <div class="column-title">Used by newsrooms like</div>
            <div class="article-para">
                <p style="margin-top: 0px; margin-bottom: 0px;">
                   - Indian Express
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px;">
                   - Danik Jagran
                </p>
                <p style="margin-top: 0px;">
                   - Money Control
                </p>
            </div>
            <div class="column-title">Other story element tools</div>
            <div class="article-para">
                <p style="margin-top: 0px;">
                   - <a href="">toQuiz</a>, <a href="">toExplain</a>
                </p>
            </div>
            <div class="column-title">One-time setup required</div>
            <div class="article-para">
                <p style="margin-top: 0px;">
                   Setup a AWS Cloudfront or Akamai CDN and point it to ProtoGraph
                </p>
            </div>
        </div>
    </div>
    <div class="proto-col col-16 more-articles-link-div">
        <div class="more-articles-link">
            <div class="column-title">EXAMPLES</div>
            <div id="more_articles_container" class="more-articles-container"></div>
        </div>
    </div>
</div>
<div class="protograph-app-filter-icon" id="protograph_filter_icon">&#9776;</div>
<div class="protograph-app-filter-icon protograph-app-filter-close-button" id="protograph_filter_close_icon"><i class="remove icon"></i></div>
<script type="text/javascript" src='./proto-app-lib.min.js'></script>
<script src="./lib/js/tether.min.js"></script>
<script src="./lib/js/bootstrap.min.js"></script>
<script src="https://cdn.protograph.pykih.com/lib/protoGraph.min.js"></script>
<script type="text/javascript" src='./proto-app-about.min.js'></script>