<div class="protograph-page-tabs">
    <div class="<%= !(action_name == 'edit' and controller_name == 'sites') ? "single-tab" : "single-tab active-tab" %>">
        <%= link_to "Content Model", nil,"data-turbolinks" => "false" %>
    </div>
</div>
<br/>