<div class="ui mini modal" id="new-folder">
  <i class='close icon'></i>
  <div class="header">
    <%= (controller_name == 'folders' and ["edit", "update"].include?(action_name)) ? "Update the folder" : "Create a new folder" %>
  </div>
  <div class="content">
    <%= simple_form_for [@account, @folder] do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: "ui primary button" %>
    <% end %>
  </div>
</div>