<div class="ui grid">
    <div class='three wide column'>
      <h4>
        Cards
        <span style="float: right;">+</span>
      </h4>
      <%= render partial: "view_casts/index" %>
    </div>
    <div class='five wide column'>
      <h4>
        Streams
        <span style="float: right;">+</span>
      </h4>
      <%= render partial: "streams/index" %>
    </div>
    <div class='eight wide column'>
      <h4>Articles</h4>
    </div>
</div>