<div class="container">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to "Cards <span class='badge badge-pill badge-secondary'>#{@view_casts_count}</span>".html_safe, account_folder_view_casts_path(@account, @folder) %></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to "Streams <span class='badge badge-pill badge-secondary'>#{@streams_count}</span>".html_safe, account_folder_streams_path(@account, @folder) %></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to "Prepare articles <span class='badge badge-pill badge-secondary'>#{@articles_count}</span>".html_safe, account_folder_articles_path(@account, @folder) %></h4>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <h3 style="font-weight: 200;">What's happening?</h3>
    <%= render partial: "activities/index" %>
</div>
