<h1 class="ui header">
    Template Designer
</h1>
<p style="color: lightgray;">With Template Designer, your designers and developers can deploy custom-built card templates for your journalists to use.</p>
<div class="ui secondary pointing menu">
  <%= link_to "Datacasts", account_template_data_path(@account), class: (controller_name == "template_data" ? "active item" : "item") %>
  <%= link_to "Cards", account_template_cards_path(@account), class: (controller_name == "template_cards" ? "active item" : "item") %>
  <%= link_to "ScreenKit", nil, class: "item" %>
</div>
<br/>