<div class="row">
<div class="col-sm-6" style="padding: 0px; margin-left: auto; margin-right: auto;">
  <br/>
  <h1>Your teams</h1>
  <hr/>
  <table class="table">
      <tbody>
            <% @accounts.each do |account| %>
                <tr>
                  <td style="border: 0px;">
                    <%= link_to account.username, account_path(account) %>
                  </td>
                  <td style="border: 0px;"><%= current_user.permission_object(account.id).ref_role_slug.titleize %>
                  </td>
                </tr>
            <% end %>
      </tbody>
  </table>
</div>