<div class="ui sixteen column grid">
    <div class="sixteen wide column">
        <div class="ui breadcrumb">
          <%= link_to "Docs", docs_path, class: "section" %>
          <div class="divider"> / </div>
          <div class="section">Card</div>
        </div>
        <h1 class="ui header" style="margin-top: 10px;">
            Style Guide: How to design icons for your card?
        </h1>
        <div class="ui divider"></div>
        <p>Developers (Pykih or third party) can build their own cards. Each card is a front-end app developed in an independent GitHub repository using <a href="https://facebook.github.io/react/" target="_blank">ReactJS framework</a>.</p>
        <p><%= link_to "< Back to Docs", docs_path %> </p>
    </div>
</div>