<div class="ui sixteen column grid">
    <div class="sixteen wide column">
        <div class="ui breadcrumb">
          <%= link_to "Docs", docs_path, class: "section" %>
          <div class="divider"> / </div>
          <div class="section">Card</div>
        </div>
        <h1 class="ui header" style="margin-top: 10px;">
            Publishing
        </h1>
        <div class="ui divider"></div>
        <p>Once a card has been built, a journalist can embed the card on one's website.
        There are two types of </p>
    </div>
</div>