<div class='row'>
    <ul>
        <% ViewCast::Platforms.each do |platform| %>
            <li>
                <% if status[platform] == 'success' %>
                    <%= link_to "#{platform.titleize}", urls[platform.to_sym], target: "_blank" %>
                <% elsif status[platform] == 'creating' %>
                    <%= "#{platform.titleize} - Creating" %>
                <% else %>
                    <%= platform.titleize %>
                    <%= link_to 'Retry', recreate_account_view_cast_path(@account, @view_cast, platform), method: :put %>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>
