<script src="https://d2m6lzru8erw1k.cloudfront.net/lib/protoGraph.js"></script>
<div class="row">
    <div class="ui stackable sixteen column grid">
        <% @view_casts.each do |d| %>
            <div class="row">
                <div class="ProtoGraphCards" data-iframe-href="<%= "#{d.template_card.index_html}?HtmlCast_Unique_Identifier=#{d.id}" %>">
                  <blockquote class="cite"><%= d.seo_blockquote %></blockquote>
                </div>

                <%= link_to "Show", [@account, d], "data-turbolinks"=> false %>
            </div>
        <% end %>
    </div>
</div>

<%= paginate @view_casts %>

<script type="text/javascript">
    Array.from($(".ProtoGraphCards")).forEach(function(element){
        new ProtoEmbed.initFrame(element, element.dataset.iframeHref , 'small')
    });
</script>