<div class="row-fluid" style="background: #fafbfc; ">
    <div class="container" style="padding-left: 0px; padding-right: 0px;">
        <br/>
        <div class="row"  style="padding-left: 0px; padding-right: 0px;">
            <div class="col-10">
                <h1 style="margin-bottom: 20px; font-weight: 400; margin-top: 20px;">
                    <%= @folder.name %>
                    </h1>
                </div>
                <div class="col-2">
                </div>
            </div>
            <%= render partial: "folders/header" %>
        </div>
    </div>
    <br/>
    <br/>    
<%= render partial: "streams/form" %>