<div class="article_edit_pages">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to "Plan", edit_plan_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_plan" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Write", edit_write_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_write" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Assemble", edit_assemble_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_assemble" ? "nav-link active" : "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to "Distribute", edit_distribute_account_site_page_path(@account, @site, @page, folder_id: @page.folder_id), class: (action_name == "edit_distribute" ? "nav-link active" : "nav-link") %>
      </li>
    </ul>
</div>
<br/>
<br/>