<div class="row">
        <div class="col-sm-6" style="margin-left: auto; margin-right: auto;">
            <h1>New Page</h1>
            <br/><br/>
        </div>
        <div class="col-sm-2">
            <br/>
        </div>
</div>
<%= render 'form', page: @page %>

<!-- <%#= link_to 'Back', pages_path %> -->
