<%= render partial: "stories/stories_header" %>
<%= javascript_pack_tag 'editor' %>
<div class="row">
  <div class="col-sm-16">
    <%= content_tag :div,
      id: "story-editor",
      cards: @page.content, 
      user_token: current_user.access_token, 
      action_url: api_v1_site_folder_page_path(@site, @folder, @page), 
      cards_url: view_casts_api_v1_site_vertical_path(@site, @folder.vertical) do %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    function setEndOfContenteditable(contentEditableElement) {
      var range,selection;
      if(document.createRange){//Firefox, Chrome, Opera, Safari, IE 9+
        range = document.createRange();//Create a range (a range is a like the selection but invisible)
        range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
        range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
        selection = window.getSelection();//get the selection object (allows you to change selection)
        selection.removeAllRanges();//remove any selections already made
        selection.addRange(range);//make the range you have just created the visible selection
      }
      else if(document.selection){//IE 8 and lower
        range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
        range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
        range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
        range.select();//Select the range (make it the visible selection
      }
    }
    $(document).on("turbolinks:load", function(){
        setEndOfContenteditable(document.querySelector('.proto-editor'))
    })
</script>