.folders_sidebar{
    line-height: 1.8rem;
    a{color: black;}
    
    .sidebar-head {
      font-size: 1rem;
      font-weight: 700;
      color: white;
    } 

    .channels {
      padding-top: 1rem;
      font-size: 1rem;
      font-weight: 400;
    }

    .channels:hover {
      color: white;
    }

    span {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.25)
    }

    ul {
      padding: 0;
      font-size: 0.85rem;
      font-weight: 100;
      list-style-type: none;
    }

    li, .list-title {
      padding: 0 1rem;
      cursor: pointer;
    }

    .list-title {
      margin-top: 1rem;
    }
    
    

    li:hover {
      background-color: #CFD8DC;
      border-radius: 0.2rem;
    }

    li.active {
      background-color: #607D8B;
      border-radius: 0.2rem;
    }

    .profile-name, .channels, ul,
    .channel-name {
       color: rgba(255, 255, 255, 0.7);
    }
}

.round {
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;

  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}