.proto-app-navbar-masthead{
    display: inline-block;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    h1{
        font-family: "cabin";
        text-transform: uppercase !important;
        font-size: 22px !important;
        letter-spacing: -1px;
        color: black !important;
        width: 1260px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        color: black !important;
    }
    a.dropdown-item{
        text-transform: capitalize !important;
    }
}

.protograph-filters-tabs-container{
    ul.nav.nav-tabs{
        border: 0px;
    
        .nav-link{
            border: 0px !important;
        }
    
        .nav-item{
            text-align: center;
        }
    
        .nav-item .active{
            border: 0px !important;
            border-bottom: 2px solid #007bff !important;
        }
    }
}

.protograph-filters-header{
    height: 48px;
    background: #007bff;
    color: white;
    font-family: "cabin"!important;
    font-size: 16px !important;
    padding: 15px;
}

ul.list-group > a > li.list-group-item{
    color: black !important; 
    border: 0px; border-left: 1px solid #efefef; 
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-radius: 0px;
}
ul.list-group > a > li.list-group-item.active{font-weight: bold; }
ul.list-group > a > li.list-group-item.active, ul.list-group > a > li.list-group-item:hover{
    z-index: 2;
    color: black;
    border-left: 2px solid #007bff !important;
    background: white;
    cursor: pointer;
    border-radius: 0px;
    font-family: "cabin";
}

.protograph-page-tabs{
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
    
    .single-tab{
        font-size: 16px!important;
        font-family: "cabin"!important;
        border-bottom: 3px solid white;
        display: inline-block;
        padding: 12px 25px 12px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .single-tab.active-tab{
        color: #2780e8;
        border-color: #2780e8;
    }
}