.proto-app-navbar-masthead{
    display: inline-block;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    h1{
        font-family: "cabin";
        text-transform: uppercase !important;
        font-size: 22px !important;
        color: black !important;
        text-align: center;
        width: 1260px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        color: black !important;
    }
    a.dropdown-item{
        text-transform: capitalize !important;
    }
}

.protograph-filters-tabs-container{
    ul.nav.nav-tabs{
        border: 0px;
    
        .nav-link{
            border: 0px !important;
        }
    
        .nav-item{
            text-align: center;
        }
    
        .nav-item .active{
            border: 0px !important;
            border-bottom: 2px solid #007bff !important;
        }
    }
}

.protograph-filters-header{
    height: 48px;
    background: #007bff;
    color: white;
    font-family: "cabin"!important;
    font-size: 16px !important;
    padding: 15px;
}

ul.list-group > a > li.list-group-item{
    color: black !important; 
    border: 0px; border-left: 1px solid #efefef; 
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-radius: 0px;
}
ul.list-group > a > li.list-group-item.active{font-weight: bold; }
ul.list-group > a > li.list-group-item.active, ul.list-group > a > li.list-group-item:hover{
    z-index: 2;
    color: black;
    border-left: 2px solid #007bff !important;
    background: white;
    cursor: pointer;
    border-radius: 0px;
    font-family: "cabin";
}

.protograph-page-tabs{
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
    
    .single-tab{
        font-size: 16px!important;
        font-family: "cabin"!important;
        border-bottom: 3px solid white;
        display: inline-block;
        padding: 12px 25px 12px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .single-tab.active-tab{
        color: #2780e8;
        border-color: #2780e8;
    }
}

.jumbotroz{
    border-radius: 0rem; 
    margin: 0px -10px; 
    background: rgba(51,51,51,0.75); 
    height: 210px; 
    padding: 40px 40px 0px 40px;
    a{
        color: white;
    }
    h1{ 
        font-size: 32px;
        word-wrap: break-word;
        color: white;
        font-family: bitter;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 12px;
        max-width: 860px;
        position: absolute;
        top: 140px;
    }
    .card-tags-series-name{
        font-size: 10px;
        text-transform: uppercase;
        color: black;
        background: white;
        float: left;
        height: 18px;
        display: inline-block;
        padding: 1px 6px 0px 3px;
        box-sizing: border-box;
        padding-left: 5px;
        border-radius: 4px;
        font-family: cabin;
        margin-top: 2px;
        position: absolute;
        top: 130px;
        a{
            color: black;
        }
    }
    .nav > a.nav-link{font-weight: 400 !important; color: lightgray;} 
    .nav > a.nav-link.active{font-weight: 800 !important; color: white;} 
}

.proto-app-navbar-proto-container{
    width: 1260px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    #proto_app_header{
        
        .proto-app-navbar{
            width: 1260px;
            height: 50px;
            font-size: 14px;
            font-family: "cabin";
            color: #4E4E4E;
            background: white;
            z-index: -1000;
            border-bottom: 1px solid #efefef;
            
            .proto-app-navbar-logo-holder{
                display: inline-block;
        
                .proto-app-navbar-logo{
                    display: none;
                    line-height: 45px;
                    vertical-align: -webkit-baseline-middle;
                    float: left;
                    // margin-top: 8px;
                    margin-right: 10px;
            
                    .colored-logo {
                        display: none;
                        transition: 0.2s ease-in;
                    }
                }
        
                .proto-app-navbar-project-name {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                    color: black;
                    font-family: "bitter";
                    text-transform: uppercase;
                    margin-left: 0;
                    margin-top: 8px;
                    float: left;
                    margin-bottom: 0;
                    a{
                        color: black;
                    }
                }
                .proto-app-navbar-project-by {
                    display: none;
                    font-size: 9px;
                    color: #333;
                    font-family: "cabin";
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    margin-left: 10px;
                    line-height: 50px;
                    float: left;
                    a{
                        color: black;
                    }
                }
            }
        }
    
        .proto-app-navbar-navigation-bar {
            position: relative;
            float: right;
            z-index: 0;
        
            .proto-app-navbar-page-navigation {
                float: right;
                text-align: right;
                height: 50px;
                position: relative;            
                .proto-app-navbar-page-links{
                    font-family: "cabin";
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    display: inline-block;
                    line-height: 50px;
                    padding-left: 30px;
                    float: left;
                    box-sizing: border-box;
                    a {
                        color: black !important;
                    }
                }
            }
        }
        
    }
}