.planning-card {
  width: 70%;
  .lable {
    font-size: 10px;
    color: #666;
    opacity: 1;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
  .plan-title .input {
    padding: 3px 5px;
    background: transparent;
    border-color: transparent;
    font-size: 24px;
    border-radius: 2px;
    color: #333;
    width: 100%;
  }
  .plan-description .textarea {
    padding: 5px;
    background: transparent;
    border-color: transparent;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;
  }
  .glyphicons-img {
    height: 12px;
    opacity: 0.3;
    margin-right: 5px;
    /*margin-top: 5px;*/
  }
  .form-check-label {
    font-size: 14px;
    color: #666;
    padding-left: 0px;
  }
}

.row-with-less-negative-margin {
  margin-left: -5px;
  margin-right: -5px;
}

.planning-card .todo-list-area {
  .single-todo{
    width: 100%;
    height: 30px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 4px;
    &:hover{
      background: #fafafa;
    }

    .todo-status-icon{
      opacity: 0.5;
    }

    .todo-text{
      padding-top: 2px;
      font-size: 14px;
      color: #444;
    }

    .float-right{
      display: inline-block;
      float: right;
    }
    .if-card-present-icon{
      font-size: 12px;
      color: #999;
    }
    .user-avatar-and-time-ago{
      width: 140px;
      text-align: left;
      margin-left: 30px;
      font-size: 12px;
      color: #999;
    }
    .delete-todo-icon{
      width: 20px;
      text-align: right;
      color: #444;
    }
    .todo-status-icon, .todo-text, .if-card-present-icon, .user-avatar-and-time-ago, .delete-todo-icon{
      display: inline-block;
      float: left;
    }
  }

  .new-todo{
    .single-todo{
      width: 100%;
      height: 50px;
      padding-top: 2px;
      cursor: pointer;
      margin-top: 10px;
      &:hover{
        background: transparent;
      }
    }
    textarea{
      background: #fafafa;
      border-color: transparent;
      width: 100%;
      font-size: 14px;
      color: #444;
    }
    .todo-text{
      width: 60%;
      margin-left: 10px;
    }
    .todo-status-icon{
      margin-top: 5px;
      opacity: 0.1;
    }

    .user-avatar-and-time-ago{
      margin-left: 0px;
      .form-group{
        margin-bottom:0px;
        .form-control{
          height: 33px;
        }
      }
    }
    .delete-todo-icon{
      width: 80px;
      cursor: pointer;
      input{
        background: transparent;
        width: 70px;
        color: #444;
        margin-left: 10px;
        border-color: #ccc;
        height: 33px;
      }
    }
  }

  .input {
    background: transparent;
    border-color: transparent;
  }
  .input-group-text {
    background: transparent;
    border-color: transparent;
    input[type=checkbox] {
      font-size: 20px;
    }
  }
  .adding-new-todo {
    input {
      background: #fafafa;
      border-color: #fafafa;
      margin-top: 10px;
    }
    .new-todo-action-buttons {
      opacity: 0;
    }
    .input-group > .form-control:focus .new-todo-action-buttons {
      display: inline-block;
      opacity: 1;
    }
  }
  .input-group-append button {
    border-color: #fafafa;
    background: #fafafa;
    margin-top: 10px;
  }
  .input-group:hover {
    input, .input-group-text, textarea {
      background: #fafafa;
      cursor: pointer;
    }
  }
}