body{font-size: 15px; font-family: 'Open Sans Bold', sans-serif;}
a{color: #0366d6;}
h1{font-size: 2em; line-height: 40px; font-weight: 800;}
h2{font-size: 1.7em; line-height: 30px; font-weight: 600;}
h3{font-size: 1.1em; line-height: 20px; font-weight: 600;}
h4{font-size: 1em; line-height: 20px; font-weight: 600;}

.navbar{background: #CFD8DC;}