body{font-size: 14px; font-family: 'cabin, Open Sans', sans-serif;}
a{color: #0366d6;}
h1{font-size: 2.5em; line-height: 40px; font-weight: 800;}
h2{font-size: 1.5em; line-height: 30px; font-weight: 600;}
h3{font-size: 1.2em; line-height: 20px; font-weight: 800; font-weight: bold !important;}
h4{font-size: 1em; line-height: 20px; font-weight: 600;}
input[type="submit"], input[type="submit"]:hover{
    background: rgb(0, 123, 255);
    color: white;
    height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 0.3em;
}

.active > .nav-link{color: black; font-weight: 600 !important;}

.article-status-draft--planning{
    background: #d73027;
    color: white;
}
.article-status-draft--ready-to-write{
    background: #f46d43;
    color: white;
}
.article-status-draft--ready-to-review{
    background: #fdae61;
    color: white;
}
.article-status-draft--ready-to-assemble{
    background: #fee08b;
    color: white;
}
.article-status-draft--ready-to-package{
    background: #d9ef8b;
    color: white;
}
.article-status-draft--ready-to-publish{
    background: #a6d96a;
    color: white;
}
.article-status-published--unlisted{
    background: #66bd63;
    color: white;
}
.article-status-published--public{
    background: #1a9850;
    color: white;
}

.best_in_place{border-bottom: 1px dotted gray;}

img.disabled{
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.card-as-a-todo:hover {
    background: #EEEEEE;
}

.card-as-a-todo {
    background: white;
    display: inline-block;
    float: left;
    height: 160px;
    width: 180px;
    border-radius: 4px;
    padding: 7px;
    box-sizing: border-box;
    position: relative;
    font-family: arial;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    .intersection {
        background: #fafafa;
        display: inline-block;
        padding: 1px;
        padding-left: 5px;
        border-radius: 4px;
        font-size: 10px;
        letter-spacing: 0.5px;
        font-family: arial;
    }
    .sub-section {
        background: rgba(51, 51, 51, 0.75);
        border-radius: 4px;
        color: white;
        padding: 3px 5px;
        margin-left: 3px;
        display: inline-block;
    }
    .card-information {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .card-title {
        font-size: 14px;
        font-weight: 500;
        color: black;
        line-height: 18px;
        padding: 5px 7px;
    }
    .card-type {
        font-size: 10px;
        color: #8F8F8F;
        padding: 0px 7px;
        margin-bottom: 7px;
    }
    .card-footer {
        width: 100%;
        border-top: 1px solid #efefef;
        left: 0px;
        margin-top: 5px;
        height: 35px;
        padding: 8px 7px;
        box-sizing: border-box;
    }
    .single-user {
        background: #999999;
        border-radius: 50px;
        overflow: hidden;
        height: 16px;
        width: 16px;
        display: inline-block;
        float: left;
        margin-right: 5px;
        img {
            vertical-align: top !important;
        }
    }
    .status-signal {
        border-radius: 50px;
        overflow: hidden;
        height: 10px;
        width: 10px;
        display: inline-block;
        float: right;
        margin-right: 5px;
        margin-top: 7px;
        margin-left: 5px;
    }
    .due-on {
        font-size: 12px;
        color: #8f8f8f;
        display: inline-block;
        float: right;
        padding: 3px;
    }
    .status-red {
        background: #DE5869;
    }
    .status-green {
        background: #71CFBA;
    }
    .call-to-action {
        width: 100%;
        border-top: 1px solid #efefef;
        left: 0px;
        margin-top: 5px;
        height: 35px;
        box-sizing: border-box;
        position: absolute;
        bottom: -35px;
        left: 0px;
        background: #fafafa;
        transition: 0.2s ease-in;
    }
    &:hover .call-to-action {
        bottom: 0px;
    }
    .action-button {
        width: 49%;
        text-align: center;
        float: left;
        display: inline-block;
        color: #645E5E;
        font-size: 12px;
        line-height: 35px;
    }
    .action-preview {
        border-right: 1px solid #efefef;
    }
    .action-move-to {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #fafafa;
        height: 125px;
        width: 100%;
        display: none;
        font-size: 14px;
        padding: 10px;
        box-sizing: border-box;
    }
    .move-to-grid {
        width: 200px;
        margin-top: 10px;
        font-size: 12px;
    }
    .grid-block {
        background: #e7e7e7;
        height: 25px;
        border-radius: 2px;
        display: inline-block;
        float: left;
        margin-top: 4px;
        margin-right: 3px;
        text-align: center;
        line-height: 25px;
        color: #969696;
        &:hover {
            color: black;
            font-weight: bold;
        }
    }
    .cover {
        width: 200px;
        margin-right: 0px;
        line-height: 40px;
        height: 40px;
    }
    .move-to-7-col {
        width: 80px;
    }
    .move-to-4-col {
        width: 48px;
    }
    .move-to-2-col {
        width: 25px;
    }
    .move-to-3-col {
        width: 38px;
        margin-right: 0px;
    }
    .current-position {
        background: #4A90E2;
        color: white !important;
    }
    .remove-button {
        display: inline-block;
        font-size: 12px;
        /*background: #e7e7e7;*/
        /*padding: 3px 5px;*/
        border-radius: 2px;
        float: right;
        color: #4A90E2;
    }
    .card-id {
        margin-left: 5px;
        font-style: italic;
        letter-spacing: 0.5px;
    }
    &.move-to-action:hover {
        .intersection {
            filter: blur(2px);
            opacity: 0.3;
        }
        .card-information {
            filter: blur(10px);
            opacity: 0.5;
        }
        .action-move-to {
            display: inline-block;
        }
    }
    .action-move-to .list-group {
        height: 90px;
        overflow: scroll;
        background: transparent;
        border-color: transparent;
    }
    .action-move-to .list-group .list-group-item {
        padding: 5px;
        background: transparent;
        border-color: #efefef;
    }
    .action-move-to .list-group .list-group-item:hover {
        background: #efefef;
        color: black !important
    }
    .hint-text {
        font-size: 10px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
    }
    .card-as-a-todo .remove-button {
        display: inline-block;
        font-size: 10px;
        border-radius: 2px;
        text-transform: uppercase;
        float: right;
        color: #4A90E2;
    }
    .card-as-a-todo.move-to-action:hover .intersection{
        filter: blur(2px);
        opacity: 0.3;
    }

    .card-as-a-todo.move-to-action:hover .card-information{
        filter: blur(10px);
        opacity: 0.5;
    }

    .card-as-a-todo.move-to-action:hover .action-move-to{
        display: inline-block;
    }

    .action-move-to .list-group{
        height: 90px;
        overflow: scroll;
        background: transparent;
        border-color: transparent;
    }

    .action-move-to .list-group .list-group-item{
        padding: 5px;
        background: transparent;
        border-color : #efefef;
    }

    .action-move-to .list-group .list-group-item:hover{
        background: #efefef;
    }

    .hint-text{
        font-size: 10px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
    }

    .card-as-a-todo .remove-button{
        display: inline-block;
        font-size: 10px;
        border-radius: 2px;
        text-transform: uppercase;
        float: right;
        color: #4A90E2;
    }
}

.status-signal {
    border-radius: 50px;
    overflow: hidden;
    height: 10px;
    width: 10px;
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-top: 7px;
    margin-left: 5px;
}

.status-red {
    background: #DE5869;
}
.status-green {
    background: #71CFBA;
}   

.help-text {
  font-family: 'Lato', sans-serif;
  border-left: 1px solid #efefef;
  margin-top: -40px;
  padding-top: 20px;
  height: 95vh;
  position: fixed;
  right: 0px;
  overflow-y: scroll;
  padding-bottom: 100px;
  top: 90px;
  z-index: 900;
  background: white;
  h2 {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
  p {
    font-size: 12px;
    color: black;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
  }
}

.round {
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;

  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}

.protograph-filters-header{
    height: 48px;
    background: #007bff;
    color: white;
    font-family: "cabin"!important;
    font-size: 16px !important;
    padding: 15px;
}

ul.list-group > a > li.list-group-item{
    color: black !important; 
    border: 0px; border-left: 1px solid #efefef; 
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-radius: 0px;
}
ul.list-group > a > li.list-group-item.active{font-weight: bold; }
ul.list-group > a > li.list-group-item.active, ul.list-group > a > li.list-group-item:hover{
    z-index: 2;
    color: black;
    border-left: 2px solid #007bff !important;
    background: white;
    cursor: pointer;
    border-radius: 0px;
    font-family: "cabin";
}

.protograph-page-tabs{
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
    
    .single-tab{
        font-size: 16px!important;
        font-family: "cabin"!important;
        border-bottom: 3px solid white;
        display: inline-block;
        padding: 12px 25px 12px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .single-tab.active-tab{
        color: #2780e8;
        border-color: #2780e8;
    }
}

.control-label{font-size: 0.9em; font-weight: 200; margin-bottom: 0px; padding-bottom: 0px;}
.help-block, .hint{ font-size: 11px; color: gray; padding-top: 2px; line-height: 13px;}
.dropdown-item{ font-size: 0.81em !important;}
.dropdown-menu{margin: 0px !important;}
.has-error > .help-block{color: red;}
.thin{font-weight: 200;}
.proto-container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.dropdown-menu{padding: 0px !important;}

.proto-graph-code-area {
    margin-top: 0px;
}

.proto-graph-code-area-title {
    margin-bottom: 10px;
    font-weight: bold;
}

ul.pagination.pagination-sm > li.page-item.active > a.page-link{
            background: #007bff !important;
            color: white !important;
            border: 1px solid #007bff;
}


.proto-graph-code {
    width: 100%;
    height: 100px;
    font-size: 1em;
    padding: 10px 15px;
    color: #999;
    background: #fafafa;
    border: 1px solid #efefef;
    font-family: arial;
    letter-spacing: 0.5px;
    word-wrap: nowrap;
    margin-bottom: 15px;
}
.nav-item.item.disabled {
    pointer-events: none;
    cursor: not-allowed;
}