.control-label{font-size: 0.9em; font-weight: 200; margin-bottom: 0px; padding-bottom: 0px;}
.help-block, .hint{ font-size: 11px; color: gray; padding-top: 2px; line-height: 13px;}
.dropdown-item{ font-size: 0.81em !important;}
.dropdown-menu{margin: 0px !important;}
.has-error > .help-block{color: red;}
.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top
}

.proto-container{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.dropdown-menu{padding: 0px !important;}

.css-truncate.expandable.zeroclipboard-is-hover .css-truncate-target,
.css-truncate.expandable.zeroclipboard-is-hover.css-truncate-target,
.css-truncate.expandable:hover .css-truncate-target,
.css-truncate.expandable:hover.css-truncate-target {
    max-width: 10000px !important
}

.proto-graph-code-area {
    margin-top: 0px;
}

.proto-graph-code-area-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.z-yellow{
    color: #F8C64E;
}

.z-blue{
    color: #3673EF;
}

.z-green{
    color: #57A859;
}

ul.pagination.pagination-sm > li.page-item.active > a.page-link{
            background: #007bff !important;
            color: black !important;
            border: 1px solid #007bff;
}


.proto-graph-code {
    width: 100%;
    height: 100px;
    font-size: 1em;
    padding: 10px 15px;
    color: #999;
    background: #fafafa;
    border: 1px solid #efefef;
    font-family: arial;
    letter-spacing: 0.5px;
    word-wrap: nowrap;
    margin-bottom: 15px;
}
.one-br-space,.two-br-space,.five-br-space,.ten-br-space,{
  display: inline-block !important;
  width: 100% !important;
  background: transparent !important;
}
.one-br-space{height: 10px !important;}
.two-br-space{height: 20px !important;}
.five-br-space{height: 50px !important;}
.ten-br-space{height: 100px !important;}
.nav-item.item.disabled {
    pointer-events: none;
    cursor: not-allowed;
}