<h1>Editing Template Card</h1>

<%= render 'form', template_card: @template_card %>

edit_account_template_card_path(@account, @
<%= link_to 'Destroy', nil, method: :delete, data: { confirm: 'Are you sure?' } %>template_card)