<div class="ten wide column">
  <%= render partial: "template_cards/header" %>
  <%= render partial: "template_cards/index" %>
  <div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>
<div class="six wide column" style="padding-left: 90px;">
    <p><b>Cards</b> are little index cards that contain a user interface that is the best visual representation of a specific dataset.</p>
    <p><span style="background-color: rgb(255, 253, 177);">Card = Data + Look and Feel.</span></p>
    <p>The look and feel of each of the following cards will be different:</p>
    <ul>
        <li>Maps and navigation</li>
        <li>Chart</li>
        <li>Image</li>
        <li>Explainer</li>
        <li>Video</li>
        <li>Quote</li>
        <li>Question / Answer</li>
        <li>Stock price of a company</li>
        <li>Bio of a person</li>
    </ul>
</div>