<%= render partial: "template_cards/header" %>
<div class="nine wide column">
  <%= render partial: "template_cards/index" %>
  <div class="ui dividing right rail" style="min-height: 339px;"></div>
</div>
<div class="seven wide column" style="padding-left: 90px;">



    <p><b>Cards</b> are little index cards that contain a user interface that is the best visual representation of a specific dataset.</p>
</div>