/*
*= require ./vendors_stories/medium-editor.min.css
*= require ./vendors_stories/default.min.css
*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(https://fonts.gstatic.com/s/quattrocento/v9/OZpEg_xvsDZQL_LKIF7q4jP3zWj6XYvVuU4V.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(https://fonts.gstatic.com/s/quattrocento/v9/OZpEg_xvsDZQL_LKIF7q4jP3w2j6XYvVuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.medium-editor-element{
  overflow:hidden;
}
.medium-editor-element h2, .proto-compose-card h2{
  color:#333;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  line-height: 36px;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}

.medium-editor-element h3, .proto-compose-card h3{
  color:#333;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 36px;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}
.medium-editor-element hr, .proto-compose-card hr{
  opacity: 0.3;
}
.medium-editor-element p, .proto-compose-card p{
  color:#707175;
  line-height:28px;
  font-size:16px;
  font-family: 'Quattrocento', serif;
}
.medium-editor-element blockquote, .proto-compose-card blockquote{
  color:#707175;
  line-height:28px;
  font-size:16px;
  font-family: 'Quattrocento', serif;
  border-left: 5px solid #d4d4d4;
  padding-left: 35px;
}
.medium-editor-element li, .proto-compose-card li{
  color:#707175;
  line-height:28px;
  font-size:16px;
  font-family: 'Quattrocento', serif;
}
.medium-editor-element b, .proto-compose-card b{
  color: #333;
}
.medium-editor-action-anchor b{
  display:none;
}
.medium-editor-placeholder:after{
  left:7px !important;
  top:-10px !important;
}

.medium-editor-placeholder:after {
  left: 0px !important;
  top: 5px !important;
}