<div class="jumbotroz">
    <div class="row">
        <div class="card-tags-series-name">
            Adminland
        </div>
        <h1>    
            <% if action_name == "edit" and controller_name == "sites" %>
                Site settings
            <% elsif action_name == "integrations" and controller_name == "sites" %>
                Integrations
            <% elsif controller_name == "admins" or controller_name == "permission_invites" %>
                Manage team
            <% elsif controller_name == "ref_categories" %>
                Editorial planning
            <% elsif controller_name == "folders" %>
                Workspaces
            <% end %>
        </h1>
    </div>
</div>
<br/>
<br/>