<div class="row">
    <div class="col-sm-3">
        <%= render partial: "accounts/sidebar" %>
    </div>
    <div class="col-sm-9">
        <br/>
        <h1>Your emails</h1>
        <hr>
        <table class="table">
            <tbody>
                <% @user_emails.each do |u| %>
                    <tr>
                        <td style="border: 0px;">
                          <%= u.email %>
                        </td>
                        <td style="border: 0px;">
                          <% unless u.is_primary_email %>
                            <%= link_to "Delete Email", user_email_path(current_user, u), method: :delete %>
                          <% else %>
                            <p>-</p>
                          <% end %>
                        </td>
                    </tr>
                <% end %>
        </table>
    </div>
    <div class="col-sm-4">
        <br/>
        <br/>
        <br/>
        <%= render partial: "form" %>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
