<div class="steps-navigation-bar">
	<div class="current-page-title"><%= yield :page_title %></div>
	<div class="steps-to-build-page">
		<ul class="nav justify-content-end">
            <%= yield :page_navigation %>
		</ul>
	</div>
</div>