<div class="steps-navigation-bar">
	<div class="current-page-title"><%= yield :page_title %></div>
	<div class="steps-to-build-page">
		<ul class="nav justify-content-end">
            <%= yield :page_navigation %>
            <% if 1 == 2 %>
    		  <li class="nav-item">
    		    <a class="nav-link active" href="#">Plan</a>
    		  </li>
    		  <li class="nav-item">
    		    <a class="nav-link" href="#">Write</a>
    		  </li>
    		  <li class="nav-item">
    		    <a class="nav-link" href="#">Assemble</a>
    		  </li>
    		  <li class="nav-item">
    		    <a class="nav-link" href="#">Package</a>
    		  </li>
     		    <li>
  		  	  <button type="button" class="btn btn-sm btn-secondary btn-sm">Small button</button>
  		    </li>
            <% end %>
		</ul>
	</div>
</div>