<% if !is_admins_controller or (controller_name != 'accounts' and ['new','create'].include?(action_name)) %>
    <% if @accounts.count > 1 %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @account.username %>: <%= @site.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% @accounts.each do |a| %>
                    <%= link_to "#{a.username}: #{a.site.name}", account_site_path(a, a.site), class: "dropdown-item" %>
                <% end %>
            </div>
    </li>
    <% end %>
 <% end %>