<select id="accounts-dropdown" onchange="window.location=this.value">
  <% @accounts.each do |a| %>
    <option value="<%= account_site_path(a, a.site) %>"><%= "#{a.username} - #{a.site.name}" %></option>
  <% end %>
</select>

<script type="text/javascript">
 $(document).ready(function() {
   $("#accounts-dropdown").select2({
     placeholder: "Switch Sites",
     <% if @account.present? and @account.id.present? %>
     initSelection : function (element, callback) {
       var data = {id: "<%= account_site_path(@account, @account.site) %>", text: "<%= "#{@account.username} - #{@account.site.name}" %>"};
       callback(data);
     }
     <% end %>
   })
   $("#accounts-dropdown").val(null);
 })
</script>
