<li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if @account.present? and @account.id.present? %>
            <%= @account.username %>
        <% else %>
            Choose a team
        <% end %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @accounts.each do |a| %>
              <%= link_to a.username, account_path(a), class: (@account.present? and @account.id.present? and @account.id == a.id) ? "dropdown-item active" : "dropdown-item" %>
          <% end %>
      </div>

</li>
