<select id="accounts-dropdown" onchange="window.location=this.value">
  <% @accounts.each do |a| %>
    <option value="/accounts/<%= a.slug %>"><%= a.username %></option>
  <% end %>
</select>

<script type="text/javascript">
 $(document).ready(function() {
   $("#accounts-dropdown").select2({
     placeholder: "Switch Teams",
     <% if @account.present? and @account.id.present? %>
     initSelection : function (element, callback) {
       var data = {id: "/accounts/<%= @account.slug %>", text: "<%= @account.username %>"};
       callback(data);
     }
     <% end %>
   })
 })
</script>
