<% if @on_an_account_page %>

        <p style="padding-left: 20px; font-size: 0.8em; color: gray; margin-bottom: 0px; padding-bottom: 0px;">
            Organise work with
        </p>
        <p style="padding-left: 20px; font-size: 1.2em; color: black;">
            <b>Folders</b>
            <% if @folder.present? and @folder.id.blank? %>
                <span style="float: right; font-weight: 400; font-size: 14px;">
                    <%= link_to "+ Add", new_account_site_folder_path(@account, @site) %>
                </span>
            <% end %>
        </p>
        <ul class="list-group" style="padding-left: 0px;">
          <% @folders.each do |folder| %>
              <%= link_to truncate(folder_name_trunc_(folder), length: 24, ommission: ".."), account_site_folder_view_casts_path(@account, @site, folder), class: (@folder.present? and folder.id == @folder.id) ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" %>
          <% end %>                            
        </ul>
  
        <div style="position: fixed; bottom: 0px; width: 11.5%;">      
            <hr style="padding-left: 0px; margin-bottom: 5px;"/>
            <p style="padding-left: 20px; font-size: 0.8em; color: gray; margin-bottom: 0px; padding-bottom: 0px;">
                Switch Site:
            </p>
            <ul class="navbar-nav" style="padding-left: 20px;">
                <% if @site.present? %>
                    <% if !is_admins_controller or (controller_name != 'accounts' and ['new','create'].include?(action_name)) %>
                        <% if @accounts.count > 1 %>        
                            <li class="nav-item dropdown dropup">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                                  <%= truncate @site.name, length: 20, ommission: ".." %>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <% @accounts.each do |a| %>
                                        <%= link_to "#{a.username}: #{a.site.name}", account_site_path(a, a.site), class: "dropdown-item" %>
                                    <% end %>
                                </div>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>
<% end %>