<div class="container" style="margin-top: 40px; margin-bottom: 20px;">
    <p style="font-size: 11px; text-align: right;">
    Individual tools by <a href="https://www.icfj.org" target="_blank">International Center for Journalists</a> and ProtoTYPE platform by <a href="https://pykih.com" target="_blank">Pykih</a>.
    </p>
</div>

<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
    FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Have+a+question%3F&submitTitle=Send<%= current_user.present? ? "&helpdesk_ticket[requester]=#{current_user.email}" : "" %>", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "white", "buttonBg": "black", "alignment": "3", "offset": "40px", "formHeight": "500px", "url": "https://pykih.freshdesk.com"} );
</script>