<div class="ui grid" style="margin-top: 100px; margin-bottom: 30px; width: 100%; margin-left: auto; margin-right: auto;">
    <div class="fourteen wide column">
        <p style="font-size: 11px; text-align: right;">
        Individual tools by <a href="https://www.icfj.org" target="_blank">International Center for Journalists</a> and ProtoGraph platform by <a href="https://pykih.com" target="_blank">Pykih</a>.
        </p>
    </div>
    <div class="two wide column">
        <% unless Rails.env.development? %>
          <a href="https://www.instantssl.com/ssl-certificate-products/ev-mdc-ssl-certificate.html" target="_blank">
            <img src="https://ssl.comodo.com/images/comodo_secure_seal_76x26_transp.png" alt="EV MDC SSL" width="76" height="26" style="border: 0px;"><br>
            <span style="font-weight:bold; font-size:7pt">EV MDC SSL</span>
          </a><br>
        <% end %>
    </div>
</div>

<% if Rails.env.production? %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//protograph.innocraft.cloud/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

<% elsif Rails.env.staging? %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//protograph.innocraft.cloud/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

<% end %>