<div class="ui sixteen grid">
<div style="margin-top: 100px; margin-bottom: 30px; width: 980px; margin-left: auto; margin-right: auto;">

    <p style="font-size: 11px; text-align: right;">
        Tools by <a href="https://www.icfj.org" target="_blank">ICFJ</a> and platform by <a href="https://pykih.com" target="_blank">Pykih</a>.
    </p>

</div>
</div>