<h1 class="ui header">
    Account Settings
</h1>
<div class="ui secondary pointing menu">
  <%= link_to "Settings", edit_account_path(@account), class: (controller_name == "accounts" ? "active item" : "item") %>
  <%= link_to "People (#{@people_count})", account_permissions_path(@account), class: (controller_name == "permissions" ? "active item" : "item") %>
</div>