<br/>
<nav class="github-menu">
    <span class="github-menu-heading">Personal Settings</span>
    <%= link_to "Account", edit_user_registration_path(@account), class: controller_name == "registrations" ? "github-menu-item selected" : "github-menu-item" %>
    <%= link_to "Your teams", accounts_path, class: (controller_name == "accounts" and action_name == "index") ? "github-menu-item selected" : "github-menu-item" %>
    <%#= link_to "My Emails", user_emails_path(current_user), class: (controller_name == "user_emails" and action_name == "index") ? "github-menu-item selected" : "github-menu-item" %>
</nav>
<% if @account.present? %>
    <% if @account.id.present? %>
        <br/>
        <nav class="github-menu">
          <span class="github-menu-heading">Team Settings</span>
          <%= link_to "Settings", edit_account_path(@account), class: (controller_name == "accounts" ? "github-menu-item selected" : "github-menu-item") %>
          <%= link_to "People (#{@people_count})", account_permissions_path(@account), class: ((controller_name == "permissions" or controller_name == "permission_invites") ? "github-menu-item selected" : "github-menu-item") %>
          <% link_to "Article Genres", account_ref_codes_path(@account), class: ((controller_name == "ref_codes") ? "github-menu-item selected" : "github-menu-item") %>
        </nav>
    <% end %>
<% end %>
