<% if @account.present? %>
    <% if @account.id.present? %>
        <br/>
        <nav class="github-menu">
          <span class="github-menu-heading">Team Settings</span>
          <%= link_to "Settings", edit_account_path(@account), class: (controller_name == "accounts" ? "github-menu-item selected" : "github-menu-item") %>
          <%= link_to "People (#{@people_count})", account_permissions_path(@account), class: ((controller_name == "permissions" or controller_name == "permission_invites") ? "github-menu-item selected" : "github-menu-item") %>
        </nav>
    <% end %>
<% end %>