<div class="sixteen wide column">
  <h2 class="ui header">
    Add an account
  </h2>
  <br/>
  <%= simple_form_for @account do |f| %>
  <%= f.input :username, id: :account_username %>
  <%= f.submit class: 'ui button'%>
  <% end %>
</div>