<div class="sixteen wide column">
  <h1 class="ui header">
    Add an account
  </h1>
  <br/>
  <%= simple_form_for @account do |f| %>
  <%= f.input :username, id: :account_username, hint: "Choose wisely. You cannot change it later." %>
  <%= f.submit class: 'ui button'%>
  <% end %>
</div>